<table border="1">
  <thead>
    <th>Description</th>
    <th>Rate</th>
    <th>Qty</th>
    <th>Total</th>
  </thead>
  <tbody>
    <tr *ngFor="let v of getAllItems.value;let i = index">
      <td>
        <input value={{v.name}} list="options" (change)="AddOrNotAdd($event , i)">
        <datalist id="options">
          <option *ngFor="let g of arrayItem">{{g.value.name}}</option>
          <option value="add">Add</option>
        </datalist>
      </td>
      <td>{{v.qty}}</td>
      <td>{{v.rate}}</td>
      <td>{{v.total}}</td>
    </tr>
  </tbody>
</table>

<button (click)="AddNewEmptyItems()">Add Item</button>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="container">
      <form [formGroup]="ItemForm">
        Product Name<input formControlName="name" >
        Product Rate<input formControlName="rate" >
        Product Qty<input formControlName="qty" >
        Product Description<input formControlName="description" >
       <button type="button" (click)="modal.close('Submit')">Submit</button>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>


